{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/no-namespace": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "no-console": "off",
    "no-bitwise": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "ignorePatterns": ["**/*.test.ts", "**/*.test.tsx", "postcss.config.js"],
  "overrides": [
    {
      "files": ["*reducer*.ts"],
      "rules": {
        "@typescript-eslint/default-param-last": "off"
      }
    }
  ]
}
